{$SITE_DOMAIN} {
	encode zstd gzip
	reverse_proxy app:3000

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

{$PYPI_DOMAIN} {
	encode zstd gzip

	basic_auth {
		{$PYPI_USERNAME} {$PYPI_PASSWORD_HASH}
	}

	reverse_proxy pypi:8080

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}
